html {
    width : 100vw;
    height : 100vh;
    background : #28cb59;
    color : rgb(247, 241, 241);
    overflow : hidden;
}

.logo {
    padding : 10px 30px;
    height : 60px;
    width : 200px;
    text-align : center;
    border-right : 1px solid rgb(247, 241, 241);
}

.search {
    height : 60px;
    width :  300px;
    border-right : 1px solid rgb(247, 241, 241);
}

.search input {
    width :90%;
    outline : none;
    color : #2f3136;
}

.account-button {
    border-left : 1px solid rgb(247, 241, 241);
    border-right : 1px solid rgb(247, 241, 241);
    height : 60px;
}

.line {
    height : 1px;
    width : 100%;
    background : rgb(247, 241, 241);;
}

.navbar {
    height : 60px;
    width : 100%;
}

.trash {
    height : 60px;
}