html {
    width : 100vw;
    height : 100vh;
    background : #28cb59;
    color : rgb(224, 224, 224);
}

.logo {
    padding : 10px 30px;
    height : 60px;
    width : fit-content;
    border-right : 1px solid rgb(224, 224, 224);
}

.search {
    height : 60px;
    width : 100px;
}

.search input {
    outline : none;
    color : #2f3136;
}

.line {
    height : 1px;
    width : 100%;
    background : rgb(224, 224, 224);
}

nav {
    height : 60px;
    width : 100%;
}