@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.sidebar {
    width: 200px;
    height: 100%;
    border-right: 1px solid rgb(247, 241, 241);
    border-left: 1px solid rgb(247, 241, 241);
    border-bottom: 1px solid rgb(247, 241, 241);
    border-radius: 0 0 10px 0;
}

.category {
    /* border-radius: 0 0 10px 0; */
}

.category:hover {
    background: rgb(247, 241, 241);
    /* color: black; */
    color: #27a74d;
}

.content {
    width: calc(100% - 200px);
    overflow-y: scroll;
}

.img_product {
    height: 350px;
    border-radius: 5px 5px 0 0;
}

.img_product_wrapper {
    position: relative;
    top: -6px;
    width: 100%;
    height: 350px;
    background: rgb(247, 241, 241);
    border-radius: 5px 5px 0 0;
}

.products {
    width: 100%;
    height: calc(90% - 61px);
}

.product {
    margin: 10px;
    padding: 5px 0;
    cursor: pointer;
    height: 460px;
    border-radius: 5px;
    border: 1px rgb(247, 241, 241) solid;
}

.product_line {
    display: block;
    font-weight: 700;
}

.result {
    height: 60px;
    width: calc(100% - 200px);
    /* border-top: 1px rgb(247, 241, 241) solid; */

}

.sort {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-top: 6px;
    border: 1px solid rgb(247, 241, 241);
    border-radius: 5px;
}

.sort:hover {
    background: rgb(247, 241, 241);
    color: #27a74d;
}

.price_product {}

.title_product {
    padding-bottom: 3px;
}

.cat_product {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    background: rgb(247, 241, 241);
    color: #27a74d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    font-weight: 700;
}

.cat_product:hover {
    color: rgb(247, 241, 241);
    background: #28cb59;
    border: 2px solid rgb(247, 241, 241);
}

.auth-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.auth {
    border-radius: 10px;
    width: 300px;
    height: 500px;
    background: #28cb59;
    padding: 5px 10px;
    border: 1px solid rgb(247, 241, 241);
    display: none;
}

.cross {
    cursor: pointer;
    float: right;
    color: white;
}


.switcher {
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.activated-switcher {
    background: rgb(247, 241, 241);
    color: #28cb59;
}

.sign-in {
    display: none;
    padding-top: 30px;
}

.sign-in-content {
    height: 420px;
}

.sign-up {
    display: block;
    padding-top: 30px;
}

.sign-up-content {
    height: 420px;
}

.field-header {
    font-family: 'Ubuntu', sans-serif;
}

.field {
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding-left: 7px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.submit {
    border-radius: 5px;
    padding: 2px 5px;
    width: fit-content;
    cursor: pointer;
    margin-top: 7px;
    border: 1px solid rgb(247, 241, 241);
}

.submit:hover {
    background: rgb(247, 241, 241);
    color: #28cb59;
}

.bin-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.bin {
    display: none;
    background: #28cb59;
    border-radius: 10px;
    width: 360px;
    height: 500px;
    padding: 5px 10px;
    border: 1px solid rgb(247, 241, 241);
}

::-webkit-scrollbar {
    width: 0px;
}

.add_to_bin {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(247, 241, 241);
    background: rgb(247, 241, 241);
    float: right;
    color: #28cb59;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    position: relative;
    bottom: 42px;
    right: 10px;
}

.added_to_bin {
    color: rgb(247, 241, 241) !important;
    background: #28cb59 !important;
}

.remove_from_bin {
    width: fit-content;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(247, 241, 241);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    color: #28cb59;
}

.bin-list {
    padding-top: 35px;
    height: 450px;
    overflow-y: auto;
}

.bin-item {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    /* background: rgb(247, 241, 241); */
    margin-bottom: 7px;
}

.bin-item-desc {
    background: #28cb59;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    margin-top: 10px;
}

.bin-item-title {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(247, 241, 241);
    font-weight: 700;
}

.bin-item-price {
    color: rgb(247, 241, 241);
    font-weight: 700;
    margin: 5px 0;
}

.bin-img-wrapper {
    border-radius: 10px;
    width: 150px;
    background: rgb(247, 241, 241);

}

.bin-img {
    height: 100px;
}

.order {
    width: 100%;
}

.checkout {
    background: rgb(247, 241, 241);
    color: #28cb59;
    border-radius: 10px;
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
    margin-top: 5px;
}