<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ShoesShop</title>
</head>

<body>
    <div class="navbar">
        <div class="logo inline-block cursor-pointer">
            <span class="text-3xl font-bold">Shit</span>
        </div>

        <div class="search inline-block top-[-14px] relative">
            <input id="search" onkeydown="activateSearching(this)" class="py-2 px-4 ml-3 mr-4 relative top-[10px]"
                placeholder="Search" autocomplete="off" />
        </div>

        <div class="inline-block trash float-right px-3" id="bin">
            <svg class="mt-2 basket-logo" fill='rgb(247, 241, 241)' height=40 width=40 version="1.1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 512 512">
                <g>
                    <g>
                        <path
                            d="m480.6,124.2h-102.9l-49.6-101.7c-4.9-10.1-17.1-14.3-27.3-9.4-10.1,4.9-14.3,17.2-9.4,27.3l40.9,83.9h-152.6l40.9-83.9c5-10.1 0.7-22.4-9.4-27.3-10.2-5-22.4-0.7-27.3,9.4l-49.7,101.8h-102.8c-17,0-22.8,14.3-19.7,25.8l91.7,335.9c2.4,8.9 10.5,15 19.7,15h265.9c9.2,0 17.3-6.2 19.7-15l91.6-336c2.9-10-2.5-25.8-19.7-25.8zm-107.2,336h-234.8l-80.5-295.1h56.2l-17,34.8c-5,10.1-0.7,22.4 9.4,27.3 10.2,5 22.4,0.7 27.3-9.4l25.7-52.7h192.5l25.7,52.7c4.9,10.1 17.1,14.3 27.3,9.4 10.1-4.9 14.3-17.2 9.4-27.3l-17-34.8h56.2l-80.4,295.1z" />
                        <path
                            d="m171.6,267.6c-11.3,0-20.4,9.1-20.4,20.4v98.3c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-98.3c0-11.3-9.1-20.4-20.4-20.4z" />
                        <path
                            d="m256,267.6c-11.3,0-20.4,9.1-20.4,20.4v98.3c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-98.3c0-11.3-9.1-20.4-20.4-20.4z" />
                        <path
                            d="m340.4,267.6c-11.3,0-20.4,9.1-20.4,20.4v98.3c0,11.3 9.1,20.4 20.4,20.4s20.4-9.1 20.4-20.4v-98.3c5.68434e-14-11.3-9.1-20.4-20.4-20.4z" />
                    </g>
                </g>
            </svg>

        </div>

        <div class="inline-block float-right account-button px-3" id="account">
            <svg fill='rgb(247, 241, 241)' class="mt-2 account-logo" height=40 width=40 version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g>
                    <path
                        d="M693.2,570.2c-13.8,10.1-28.4,19.1-43.7,27c163.1,57.3,283.3,205.8,299.3,384.3H990C974.7,796.2,856.8,640.1,693.2,570.2z M10,981.5h41.1c16.1-178.5,136.2-327,299.4-384.3c-15.3-7.9-29.9-16.9-43.7-27C143.2,640.1,25.3,796.2,10,981.5z M786.8,305.4C786.8,147,658.4,18.5,500,18.5c-158.4,0-286.8,128.4-286.8,286.8c0,158.4,128.4,286.8,286.8,286.8C658.4,592.2,786.8,463.8,786.8,305.4z M500,551.2c-135.8,0-245.9-110.1-245.9-245.9c0-135.8,110.1-245.9,245.9-245.9c135.8,0,245.9,110.1,245.9,245.9C745.8,441.1,635.8,551.2,500,551.2z" />
                </g>
            </svg>
        </div>
    </div>

    <div class="line"></div>

    <div class="overflow-y-auto" style="height : calc(100vh - 61px)">
        <div>
            {% block content %} {% endblock %}

            <div class="footer grid grid-cols-3 justify-items-center">
                <div class="contact">
                    <img src="{{ url_for('static', filename='assets/telegram.png') }}" height=50 width=50 />
                </div>
                <div class="contact">
                    <img src="{{ url_for('static', filename='assets/discord.png') }}" height=50 width=50 />
                </div>
                <div class="contact">
                    <img src="{{ url_for('static', filename='assets/github.png') }}" height=50 width=50 />
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>