<div class="bin hidden" id="bin">
    <div class="chosen_products" id="chosen_products"></div>
    <div class="open_registration">Оформить заказ</div>
</div>
<div class="registration hidden">
    <div class="chosen_products"></div>
    <div class="regist_r hidden" id="regist_form">
    <span class="zerkal_article">Запись</span>
    <span class="crist" id="crist">✕</span>
    <input type="text" class="register_input point" placeholder="Имя" id="name">
    <div class="wrong_input hidden " id="no_name">Введите имя</div>
    <div class="register_input">
    <span><img src="russia.png" class="russia" alt=""></span>
    <span class="sem">+7</span>
    <input type="tel"  class="bigsem point" placeholder="(987)654-32-10"></div>
    <div class="wrong_input hidden" id="wrongphone">Номер телефона введен некорректно</div>
    <span class="uslugi">Комментарий</span>
    <textarea type="text" class="register_input" id="comment"></textarea>
    <div class="sending point" id="sending">ОТПРАВИТЬ</div>
</div>