<div>
    {% extends 'base.html' %}
    {% block content %}

    <ul class="sidebar inline-block">
        <div class="text-2xl font-bold pl-3 pb-2">Categories</div>

        <li class="px-4 py-1 cursor-pointer category font-bold">
            Sport
        </li>
        <li class="px-4 py-1 cursor-pointer category font-bold">
            Football
        </li>
        <li class="px-4 py-1 cursor-pointer category font-bold">
            BasketBall
        </li>
        <li class="px-4 py-1 cursor-pointer category font-bold">
            Training & Gym
        </li>

    </ul>

    <div class="content absolute ml-[200px] top-[61px]">
        <div class="result absolute text-xl font-bold mt-2 px-4" id="result">
            Result
        </div>

        <div class="products grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-[35px]" id="products"></div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% endblock %}
</div>